@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", Arial, sans-serif;
}

.prose {
  --tw-prose-body: #cbd5e1;
  --tw-prose-headings: #f8fafc;
  --tw-prose-bold: #f8fafc;
  --tw-prose-links: #fbbf24;
  --tw-prose-code: #fbbf24;
  --tw-prose-quotes: #94a3b8;
  --tw-prose-hr: #334155;
}
